:root {
	/*--form-control-color: rebeccapurple;*/
	--form-control-color: whitesmoke;
  }

.container {
	font-family: 'Montserrat', sans-serif;
	margin: 30px 30px 0px 60px;
	/* padding: 10px 10px 10px 10px; */ /* top right bottom left */
}

.container2 {
	font-family: 'Montserrat', sans-serif;
	margin: 20px 60px 1px 60px;
	text-align: center;
}


.list-inline {
	text-align: center;
	margin-bottom: 15px;
}

.title {
	font-weight: bold;
	font-size: 26px;
	vertical-align: middle;
}
th {
	text-align: center;
	/* width: 90px; */
}
td {
	height: 110px;
	width: 90px;
}

.btn-group-wrap {
    text-align: center;
}

div.btn-group {
	margin: 0 auto; 
    text-align: center;
    width: inherit;
	/* display: inline-block; */ 
}

.btn-sm {
	font-size: 11px;
	text-align: left;
	width:100%;
	/* border-radius: 7px; */
	/* isplay:block; width: 100% for widths of button*/
}

.disabled {
	opacity: 1;
	cursor: not-allowed;
  }

.text-right {
	float:right;
	padding: 0px 0px 0px 5px;
}

.text-left {
	float:left;
	padding: 0px 5px 0px 0px;
}

.hide_nm {
	display:none;
	font-family: 'Montserrat', sans-serif;
	margin: 30px auto;
	padding: 10px 15px 10px 30px; /* top right bottom left */
}

a:link {
	color: var(--form-control-color);
	}